#main-nav
{
	background-color: #ec1d23;
	color: #fff;
	border-bottom: 3px solid #E5EC1D;
	font-family: 'Marcellus SC', serif;
}

.navbar-default .navbar-brand {
	color:#fff;
}

.navbar-default:hover .navbar-brand:hover {
	color:#EC9D1D;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #EC9D1D;
}

.logo{
	width:200px;
}

.logo-small{
	width:100px;
}

#left-panel {
	background-color: #fff;
	text-align:center;
	font-family: 'Allan', cursive;
	font-size:20px;
	border-right: 3px solid #E5EC1D;
}

#details{
	border-left: 3px solid #E5EC1D;
}


@media (min-width: 992px) and (max-width: 1200px) { 
	#details{
		position: absolute;
	    top: 0;
	    right: 0;
	}
}

.video-box {
	text-align:center;
	padding-top: 25px;

}

#main {
	background-color: #fff;
	color:#222;
}

h1{
	text-transform:uppercase;
	background-color: #ec1d23;
	color:#fff;
	font-size:30px;
	
	transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); 
	-webkit-transform:rotate(-5deg);
}
h1, h2{
	
	/*font-family: 'Sofadi One', cursive;*/
	font-family: 'Marcellus SC', serif;
	font-weight:bold;
	
}
h2{
	padding-left:5px;
	background-color: #EC9D1D;
	color:#fff;
}

h2.color-two {
	background-color:#ECD41D
}

.title {
	text-align:center;
	font-family: 'Allan', cursive;
}

#main p{
	line-height:1.5em;
}
#main .answer{
	font-size:1.2em;
}
#main .answer a{
	font-size:0.85em;
}

.fastdetail {

	padding-right: 10px;
	float: left;

	font-size:2em;
	font-weight:bold;
	
}

#vladka_carl {
	float:right;
	margin:15px;
	width:275px;
	border:3px dashed #E5EC1D;
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-webkit-transform:rotate(7deg); /* Opera, Chrome, and Safari */
}

#page {
	background-color: #fff;
	padding-bottom:50px;
}

a {
	color: #1D35EC;
}
a:hover {
	color: #1D35EC;
}

html, body{
	background-color: #bcbdbf;
	font-family: 'Alegreya Sans', sans-serif;
}

